.error {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.error__image {
  width: 300px;
  margin-bottom: 20px;
}

.error__title {
  font-size: 32px;
  margin-bottom: 10px;
}

.error__description {
  font-size: 18px;
  color: #666;
}